<div class=" container  mt-5 mb-5 d-flex " *ngIf="products.length > 0">
  <div class="related rounded"></div>
  <h3 class="text-danger ms-4">Products</h3>
</div>
<div class=" container  mt-5 mb-5 d-flex " style="min-height: 50vh;" *ngIf="!products.length">
  <div class="related rounded"></div>
  <h1 class="text-danger ms-4">Sorry No Products In This Category</h1>
</div>
<div class="row">
  <div class="col-lg-3 mb-3" *ngFor="let item of products">
    <div class="card h-100">
      <div class="add-card position-relative">
        <div class="img">
          <img src="{{ item.image }}" class="card-img-top position-relative border-bottom bg-body-secondary " alt="...">
        </div>
        <button class="border-0 bg-dark text-white text-center p-3 position-absolute w-100 add-to-cart"
          (click)="addToCart(item.id)">
          Add To Cart
        </button>
      </div>
      <div class="card-body bg-white" style="z-index: 999;">
        <a routerLink="/product/single/{{ item.id }}">
          <p class="card-title">{{ item.name }}</p>
        </a>
        <div>
          <span class="text-danger me-2">${{ item.price_after }}</span>
          <span class="text-light-emphasis text-decoration-line-through">${{ item.price }}</span>
        </div>
        <div class="stars">
          <i class="fa-solid fa-star text-warning "></i>
          <i class="fa-solid fa-star text-warning"></i>
          <i class="fa-solid fa-star text-warning"></i>
          <i class="fa-solid fa-star text-warning"></i>
          <i class="fa-solid fa-star text-warning"></i>
          <span class="text-light-emphasis ms-1">(88)</span>
        </div>
      </div>
    </div>
  </div>
</div>
